<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../static/script.js" defer></script>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body onload="addYear()">
    <img id="logo" src="../static/ISlogo.png" alt="MonoMuse Museum Logo"> 
    <nav>
        <a href="../index.html">Home</a>
        <a id="navselected" href="explore.html">Explore</a>
        <a href="exhibitions.html">Exhibitions</a>
        <a href="checkout.html">Checkout</a>
        <a id = "cta" href="tickets.html">Buy Tickets</a>
    </nav>
    <img src="../static/Dino.jpg" alt="Dinosaur" width="400">
    <h2>Mission Statement</h2>
    <p>Our mission is to inspire curiosity and foster a love for learning about the natural world.</p>
    <h2>Milestones</h2>
    <ul>
        <li>Founded in 2020</li>
        <li>First exhibition in 2021</li>
        <li>Reached 10,000 visitors in 2022</li>
    </ul>
    <footer>
        CopyRights <p id="copyYear"></p> MonoMouse. All Rights Reserved.
    </footer>
</body>
</html>