<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Exhibitions</h1>
    <nav>
        <a href="index.html">Home</a>
        <a href="views/explore.html">Explore</a>
        <a href="views/exhibitions.html">Exhibitions</a>
        <a href="views/tickets.html">Buy Tickets</a>
        <a href="views/checkout.html">Checkout</a>
    </nav>
    <h3>Exhibition 1: Projection Mapping</h3>
    <p>Explore real life projection of what dinosaurs might have looked like.</p>
    <h3>Exhibition 2: Fossil Discoveries</h3>
    <p>Take archeology into your own hands and chip away at ancient debris to discover dinosaur fossils.</p>
</body>
</html>