<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Tickets</h1>
    <nav>
        <a href="../index.html">Home</a>
        <a href="explore.html">Explore</a>
        <a href="exhibitions.html">Exhibitions</a>
        <a href="tickets.html">Buy Tickets</a>
        <a href="checkout.html">Checkout</a>
    </nav>
    <div class = "main"> 
        <table>
            <tr>
                <th>Ticket Type</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
                <tr>
                    <td>Adult</td>
                    <td>General admissions for adults 18 or over</td>
                    <td>$10</td>
                </tr>
                <tr>
                    <td>Children</td>
                    <td>General admissions for children under 18</td>
                    <td>$8</td>
                </tr>
                <tr>
                    <td>Elderly</td>
                    <td>General admissions for seniors 65 or over</td>
                    <td>$8</td>
                </tr>
                <tr>
                    <td>Student</td>
                    <td>General admissions for students with valid ID</td>
                    <td>$5</td>
                </tr>       
            </table>
        </div>
</body>
</html>