<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../static/script.js" defer></script>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body onload="addYear()">
    <div class="container">

        <header class="header">
            <img id="logo" src="../static/ISlogo.png" alt="MonoMuse Museum Logo">
        </header>

        <nav class="nav_bar">
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="buytickets.html">Buy Tickets</a>
        </nav>

        <main class="main">
            <h3>Exhibition 1: Projection Mapping</h3>
            <p>Explore real life projection of what dinosaurs might have looked like.</p>

            <h3>Exhibition 2: Fossil Discoveries</h3>
            <p>Take archaeology into your own hands and chip away at ancient debris to discover dinosaur fossils.</p>
        </main>

        <footer class="footer">
            CopyRights <span id="copyYear"></span> MonoMouse. All Rights Reserved.
        </footer>

    </div>
</body>
</html>